.services-section {
  margin: 2rem auto;
  margin-bottom: 5rem;
}

.services__title {
  text-align: center;
  color: #0e4880;
  font-size: 1.5rem;
  max-width: 1200px;
  margin: 2rem auto;
}

.services-list {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5rem;
  grid-template-areas:
    "pic1 pic1 pic1 pic2 pic2 pic2"
    "pic3 pic3 pic3 pic4 pic4 pic4"
    "pic5 pic5 pic6 pic6 pic7 pic7";
}

@media screen and (max-width: 1200px) {
  .services-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .services-item {
    min-width: 20rem;
    width: 45%;
  }
}

.services-item {
  width: 100%;
  color: white;
  text-decoration: none;
  position: relative;
  transition-duration: 500ms;
}

.services-item:hover {
  transform: scale(1.05);
  z-index: 99;
}

.service-item__image {
  width: 100%;
  position: relative;
}

.service-item__image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 212, 255, 0) 50%);
}

.service-item__image img {
  width: 100%;
  height: 28rem;
}

.service-item__text {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.services-item:nth-child(1) {
  grid-area: pic1;
}

.services-item:nth-child(2) {
  grid-area: pic2;
}

.services-item:nth-child(3) {
  grid-area: pic3;
}

.services-item:nth-child(4) {
  grid-area: pic4;
}

.services-item:nth-child(5) {
  grid-area: pic5;
}

.services-item:nth-child(6) {
  grid-area: pic6;
}

.services-item:nth-child(7) {
  grid-area: pic7;
}
